#welcome {
  font-family: "Chivo Mono", monospace;
  text-align: center;
  font-size: large;
  background-color: black;
  color: #fff;
  padding: 2%;
}

#heads {
  font-family: "Chivo Mono", monospace;
  text-align: center;
  padding: 5% 10%;
}
#btns {
  text-align: center;
  padding: 4% 1%;
  background-color: powderblue;
  font-family: "Oswald", sans-serif;
}

.buttons {
  margin: 2rem;
}
#footer {
  text-align: center;
  background-color: #fff;
  padding-top: 1%;
  font-family: "Poppins", sans-serif;
}
@media (min-height: 700px) {
  #welcome {
    padding: 10%;
    font-size: 2.5rem;
  }
  #heads {
    padding: 35%;
    font-size: 3.5rem;
  }
  #buttons {
    padding: 35%;
    font-size: 2.5rem;
  }
  #footer {
    padding: 4%;
    font-size: 1.5rem;
  }
}

